# .gitignore

# Python
*.py[oc]
__pycache__/
*.egg-info
.eggs/
.mypy_cache/*
.pyre/
.pytest_cache/
.ruff_cache/
.dmypy.json

# Mac
.DS_Store

# Databases
*.db

# Build artifacts
build/
dist/
*.so
out*/

# KEval artifacts
logs/
test_model.onnx